.button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.nav-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(225,225,225);
  padding: 20px 40px;
  font-size: .9em;
  font-family: sans-serif;
  height: 80px;
  width: 50%;
  margin-bottom: 20px;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

#credit-card-button {
  border-radius: 5px 0px 0px 5px;
}
#term-loan-button {
  border-radius: 0px 5px 5px 0px;
}

.active {
  background-image: linear-gradient(to right, #2E2FFA , #D4D7FF);
}

.inactive {
  background-color: #FFFFFF;
}

.cc-icon {
  height: 20px;
  width: auto;
}
.mb-icon {
  height: 20px;
  width: auto;
}

.button-icons {
  margin-bottom: 6px;
}
