.credit-card {
  width: auto;
  height: 100%;
  // background-color: pink;
}

.notification {
  background-color: powderblue;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 5px;
}

.title {
  font-size: 1.111em;
  font-weight: 900;
  padding: 0px 0px 10px 0px;
}

table {
  // display: flex;
  // flex-flow: row nowrap;
  // justify-content: space-between;
  // align-items: flex-start;
  width: 100%;
}

table tr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 7px 0px;
  border-top: 1px solid rgb(200,200,200);
}

table tr:last-child {
  border-bottom: 1px solid rgb(200,200,200);
}
