.term-loan {
  width: auto;
  height: 100%;
  padding: 20px;
  
}

.add-wrapper {
  display: flex
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.biz-img {
  height: 50px;
  width: auto;
}
