.term-loan {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
  border: 1px solid rgb(225,225,225);
}

.add-wrapper {
  background-color: red;
}

.biz-image {
  // height: 200px;
  // width: auto;
  // background-color: red;
}
